/* Tailwind v4 */
@import "tailwindcss";

/* Thème (v4) : couleurs + fonts */
@theme {
  --color-bg-black: #040404;
  --color-text: #e2e2e2;
  --color-accent: #d02020;
  --color-muted: #1a1a1a;

  /* Fonts (liées à next/font via CSS vars) */
  --font-display: var(--font-reverb);
  --font-body: var(--font-body);
}

body {
  font-family: var(--font-body);
  scroll-behavior: smooth;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
  height: 100%;
}

/* video dans le masque */
.hero-container {
  --progress: 0;
}

.video-hero-container {
  transform: scale(var(--progress));
}

.title-container {
  display: flex;
  font-size: clamp(3rem, 10vw, 8rem);

  .title-welcome {
    transform: translate3d(
        calc(var(--progress) * (-110vw + 100%) - 0.5vw),
        0,
        0
      )
      translateY(var(--enter-offset, 0px));
  }
  .title-name {
    transform: translate3d(calc(var(--progress) * (100vw - 100%) + 0.5vw), 0, 0)
      translateY(var(--enter-offset, 0px));
  }
}
